body {
    margin: 0;
    background-image: linear-gradient(90deg, #ffef5c, #dc5cff);
    font-family: 'Goldman', cursive;
}

#grid-edit {
    display: block;
    margin: 16px auto 16px auto;
    height: 64px;
    width: 128px;
    font-size: 18px;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 4px black;
    font-family: 'Goldman', cursive;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 45px);
    grid-template-rows: repeat(16, 45px);
    margin: 0 auto;
    height: 720px;
    width: 720px;
    border: 4px solid black;
    background-color: white;
}

#grid-size-hint {
    margin: 16px 0 0 0;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

footer {
    height: 32px;
    position: absolute;
    bottom: 0;
}

footer p {
    margin: 0 auto 0 8px;
    padding: 6.5px 0;
}